

:root {
  --color-primary: #ffffff;
  --color-secondary: #bababa;
  --color-tertiary: #957fef;
  --color-strong: #000000;
  --color-text: #000000;
  --color-green: #9df07d;
  --color-blue: #7bb9e4;
  --color-yellow: #ecec7a;
  --color-red: #f48484;
}

body{
}